<h1>Admin Dashboard</h1>
<h4><%= "The current number of different products in stock: #{@number_of_products}" %></h4>
<h4><%= "The current number of categories in stock: #{@number_of_categories}"%></h4>
